/* uw-thinstrip */
.uw-thinstrip {
  .uw-wordmark {
    /*background: url(assets/png/wordmark.png) no-repeat 0 0 transparent;*/
    background: url(assets/png/seatrac-logo-only.png) no-repeat 0 0 transparent;
    background-size: contain;
    top: -2px;
    height: 50px;
    width: 300px;
    left: 0;
  }
  // breakpoint switch
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .uw-wordmark {
      /*background: url(assets/png/wordmark.png) no-repeat 0 0 transparent;*/
      background: url(assets/png/white_SEATRAC_Logo_transparent.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 360px;
      height: 110px;
    }
  }
  // breakpoint switch
  @media only screen and (min-width: 992px) {
    .uw-wordmark {
      /*background: url(assets/png/wordmark.png) no-repeat 0 0 transparent;*/
      background: url(assets/png/white_SEATRAC_Logo_transparent.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 480px;
      top: -33px;
      height: 110px;
      transform: none;
    }
  }
}
/* END uw-thinstrip */

/* hero image */
#hero-container {
  h1.uw-site-title {
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 55px;
    }
  }
}

/* uw-footer */
.uw-footer {
  .footer-wordmark {
    background: url(../uw-2014/assets/svg/uw-sprite.svg) no-repeat 0 -434px transparent;
    height: auto;
      &:hover,
      &:active {
        background: url(../uw-2014/assets/svg/uw-sprite-focus.svg) no-repeat 0 -434px transparent;
        height: auto;
      }
  }
}
/* END uw-footer */
